body {
	background: #f8f8f8;
	background:url('images/pattern.png');
	font-family: 'montserrat', arial;
	line-height: 3;
}

#contain {

	height: 960px;
	margin: auto;
	background-image: url('images/tiles-03.png');
	background-position: 0% 75%;
	background-repeat: no-repeat;
	background-size: 100%;
}


#show {

	height: 850px;
	margin: auto;
	background-image: url('images/tiles-02.png');
	background-position: 0% 75%;
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {

	color: #fd395e;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 56.45pt;
	line-height: 27.7pt;
}

#space  {
	height: 10px;
}

h2 {

	color: #fd395e;
	text-align: center;
	text-transform: uppercase;
	font-size: 36pt;
}

.emph {
	color: #555555;
	text-transform: capitalize;
	text-align: center;
	font-size: 25pt;
	font-family: 'open sans', sans-serif;
	font-style: italic;
}


.norm {
	color: #555555;
	text-transform: capitalize;
	text-align: center;
	font-size: 25pt;
	font-family: 'open sans', sans-serif;
}


.more {
	color: #555555;
	text-transform: capitalize;
	text-align: center;
	font-size: 15pt;
	font-family: 'open sans', sans-serif;
}

a {
	color: #fd395e;
}


#wordform {
	text-align: center;
}

#word {
	height: 90px;
	width: 650px;
	font-size: 25pt;
	text-align: center;
}

#new_word {
	height: 90px;
	width: 650px;
	font-size: 25pt;
	text-align: center;
}

.btn {
	background-color: #fd395e;
	height: 90px;
	width: 690px;
	font-family: 'montserrat', arial;
	font-size: 34.19pt;
	color: #ffffff;
	margin-top: 50px;
	border: none;
	text-transform: capitalize;
}

.btn:hover {
	background-color: #ffffff;
	height: 90px;
	width: 690px;
	font-family: 'montserrat', arial;
	font-size: 34.19pt;
	color: #fd395e;
	margin-top: 50px;
	border: 1px solid #fd395e;
	text-transform: capitalize;
}

.btn:focus {
	background-color: #ffffff;
	height: 90px;
	width: 690px;
	font-family: 'montserrat', arial;
	font-size: 34.19pt;
	color: #fd395e;
	margin-top: 50px;
	border: 1px solid #fd395e;
	text-transform: capitalize;
}

ul, li {
	font-family: 'open sans', sans-serif;
	font-size: 4rem;
	list-style-type: none;
	color: #fd395e;
	text-align: center;
}

.error {
	margin-top: 4%;
	text-align: center;
	color: red;
	border: 5px solid red;
	font-size: 25pt;
	font-family: 'open sans', sans-serif;
}

.back {
	margin-top: 4em;
	text-align: center;
}



.push {
	margin-left: 25%;
}