body {
	background: #f8f8f8;
	background:url('images/pattern.png');
	font-family: 'montserrat', arial;
}

#container {
	width: 940px;
	height: 960px;
	margin: auto;
	background-image: url('images/tiles-03.png');
	background-position: 0% 75%;
	background-repeat: no-repeat;
	background-size: 100%;
}


#show {
	width: 940px;
	height: 960px;
	margin: auto;
	background-image: url('images/tiles-02.png');
	background-position: 0% 75%;
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {

	color: #fd395e;
	text-align: center;
	text-transform: uppercase;
	font-size: 56.45pt;
}

.emph {
	color: #555555;
	text-transform: capitalize;
	text-align: center;
	font-size: 25pt;
	font-family: 'open sans', sans-serif;
	font-style: italic;
}

#wordform {
	text-align: center;
}

#word {
	height: 90px;
	width: 650px;
	font-size: 25pt;
	text-align: center;
}

.btn {
	background-color: #fd395e;
	height: 90px;
	width: 690px;
	font-family: 'montserrat', arial;
	font-size: 34.19pt;
	color: #ffffff;
	margin-top: 50px;
	border: none;
	text-transform: capitalize;
}

ul, li {
	font-family: 'open sans', sans-serif;
	font-size: 4rem;
	list-style-type: none;
	color: #fd395e;
	text-align: center;
}