<div>

<header>
<h1>Words</h1>
</header>
<div>&nbsp;</div>
<div class="container">
<table class="table table-striped">
	<thead>
	 <th>Words</th>
	 <th>Letters</th>
	 <th>ID</th>
	</thead>
	<tbody>
	
	  <tr>
	  	<td><%= @word.text %></td>
	  	<td><%= @word.letters %></td>
	  	<td><%= @word.id %></td>
	  </tr>

	</tbody>
</table>
</div>	
<div>
	<p class="more">Do you think there should be more anagrams here?</p>
	<div class="push">
		<p class="col-md-6"><a href="/dictionary/new">Add them here</a></p>
		<p class="col-md-6"><a href="/dictionary">See all the words</a></p>
	</div>
</div>

<div class="back"><a href="/">Back to the generator!</a></div>
</div>

 
