
<div id="wordform">
	<form action="<%= word_form_action(@word) %>" method="post" class="<%= word_form_class(@word) %>" id="<%= word_form_id(@word) %>">
		<label for="new_word" class="norm">Enter a word </label>
		<p>
		<input type="hidden" name="_method" value="<%= word_form_method(@word) %>" />
			<input type="text" name="word" id="word"></input>
		</p>
		<input type="submit" class="btn" value="Add a New Word">
	</form>
</div>
