<div>

<header>
<h1>Words</h1>
</header>
<div>&nbsp;</div>
<table class="table table-striped">
	<thead>
	 <th>Words</th>
	 <th>Letters</th>
	</thead>
	<tbody>
	 <% @word.each do |word| %>
	  <tr>
	  	<td>
	  	<a href="<%= "/words/#{word.id}" %>">
	  	<%= "#{word.text}" %></a></td>
	  	<td><%= "#{word.letters}" %></td>
	  </tr>
	<% end %>
	</tbody>
</table>

</div>