<div id="container">

<div id="contain">

<h1>Add a new word!</h1>

<div id="wordform">
	<form action="/words" method="post" class="form">
		<label for="new_word" class="norm">Enter your word </label>
		<p><input type="text" name="new_word" id="new_word"></input></p>
		<input type="submit" class="btn" value="Add a New Word">
	</form>
</div>



<div>
<p>&nbsp;</p>
	<div class="push">
		<p class="col-md-6"><a href="/">Back to the generator!</a></p>
		<p class="col-md-6"><a href="/words">See all the words</a></p>
	</div>
</div>



</div>

</div>