<div id="container">
<div id="contain">
<h1>Add a word:</h1>

<% if @error.present? %>
  <p class='error'><%= "#{@error}" %></p>
<% end %>

 <div id="wordform">
<form action="/" method="post" class="form">

  <label class="emph" for="word">3 letter words ONLY please!</label><br />
  <input type="text" name="word" id="word">
  <br />
  <input type="submit" class="btn" value="Add a word">
</form>

</div>
</div>
</div>