<div id="container">
<div id="contain">
<h1>find a word</h1>


 <div id="wordform">

<form action="/" method="post" class="form">
<p>&nbsp;</p>
  <input type="text" name="word" id="word">
  <br />
  <input type="submit" class="btn" value="View Anagrams">
</form>

<div>
	<p class="more">&nbsp;</p>

		<p class="col-md-6"><a href="/dictionary/new">Add New Words!</a></p>
		<p class="col-md-6"><a href="/dictionary">See All the Words!</a></p>

</div>

</div>
</div>
</div>