<div id="show">
<h2>Anagrams for the Word</h2><h1><%= "#{@word}" %></h1>
<ul>
	<% @anagrams.each do |anagram| %>
	<li><%= "#{anagram.text}" %></li>
	<% end %>
</ul>

<div>
	<p class="more">Do you think there should be more anagrams here?</p>
	<section class="slide"><a href="#">Add them here</a></section>
	<section><a href="#">See all the words</a></section>

</div>

<div class="back"><a href="/">Back to the generator!</a></div>
</div>

