
<div id="container">
<div id="show">
<h2>Anagrams for the Word</h2><h1><%= "#{@word}" %></h1>
<ul>
	<% @anagrams.each do |anagram| %>
	<li><%= "#{anagram.text}" %></li>
	<% end %>
</ul>

<div>
	<p class="more">Do you think there should be more anagrams here?</p>
	<div class="push">
		<p class="col-md-6"><a href="#">Add them here</a></p>
		<p class="col-md-6"><a href="/words">See all the words</a></p>
	</div>
</div>

<div class="back"><a href="/">Back to the generator!</a></div>
</div>

</div>